#gallery {
  min-height: calc(100vh - 40px);
  background-image: url("https://i.pinimg.com/originals/e4/9c/22/e49c22dd6b304202957c66aa71f4b2e7.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}

#main_div {
  min-height: calc(100vh - 70px);
  padding-top: 30px;
}

#main_div img {
  width: 300px;
}

#indiv_image {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0px;
}

#pic_infos {
  padding: 10px;
}

#comments_section {
  max-height: 200px;
  width: 300px;
  text-align: justify;
  overflow: auto;
}

#show_more {
  font-size: 20px;
  color: white;
  padding: 20px;
}

#indiv_image input[type="submit"] {
  background-color: black;
  color: white;
  border-radius: 5px;
}
