header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background: black;
  color: whitesmoke;
}

#header_name {
  margin-bottom: 5px;
  padding-left: 5%;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
}

#header_name * {
  text-decoration: none;
  color: whitesmoke;
}

#header_menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 63%;
}

#header_menu > div {
  margin-right: 5%;
}

#header_menu * {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

#header_menu *:hover {
  text-decoration: underline;
}
