header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0px 40px;
  background-color: black;
}

#header_name {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
}

#header_menu {
  display: flex;
  flex-direction: row;
}

header a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

@media (max-width: 550px) {
  #header_name {
    display: none;
  }
}
