#user_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 170px);
  background-image: url("https://www.planwallpaper.com/static/images/4433836-space-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  text-align: justify;
  color: white;
}

.option_modify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 280px;
  padding-top: 100px;
  margin: 30px;
  padding: 10px;

  background: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.option_modify input {
  margin: 5px 20px;
  padding: 13px;
  border: none;
  outline: none;

}

.option_modify > form {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.option_modify input[type="submit"]{
  cursor:pointer;

  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
  font-size: 13px;
  background: rgb(232, 27, 85);
  color: white;
  transition: filter 0.3s;
}

.option_modify input[type="submit"]:hover{
  filter: brightness(115%);
  transition: filter 0.3s;
}

.option_modify p {
  padding: 10px;
}

.option_modify ::placeholder {
  font-size: 13px;
}
