#user_infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 170px);
  background-image: url("https://www.planwallpaper.com/static/images/4433836-space-wallpapers.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
}

#user_infos * {
  border: 1px solid black;
}

.option_modify {
  width: 330px;
  height: auto;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
}
